/* COLORS */
body {
	overflow-x: hidden;
	background-color: #D5CFDB;
}
p {
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, li a {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}
h1 {
	font-size: 6rem;
	transition: font-size ease 1s;
}
.transparent, li a {
	background-color: transparent;
}
.top-bar {
	font-weight: bold;
	text-transform: uppercase;
	transition: padding-top ease 1s;
}
.top-bar:not(.is-stuck) {
	padding-top: 3em;
}
.top-bar  ul.menu {
	padding-top: 0.35em;
	padding-bottom: 0.35em;
}
.top-bar[data-sticky] {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}
.title-bar.sticky {
	width: 100%;
}
header {
	height: 90vh;
	max-height: 70vw;
}
header {
	position: relative;
	background-image: url(/img/thaynara.png);
	background-size: 120% auto;
	/*background-size: 150vw auto;*/
	background-position: center center;
	/*background-position: center -40vw;*/
	background-repeat: no-repeat;

	transition: background-position ease 1s;
}
@media screen and (max-width: 39.9375em) {
	h1 {
		font-size: 3rem;
	}
	.top-bar:not(.is-stuck) {
		padding-top: 0;
	}
	.top-bar section {
		font-size: 0.75rem;
		top: 0.75rem;
		transition: margin-top ease 1s;
	}
	.top-bar.is-stuck section {
		top: 3rem;
	}
}

}
footer {
	text-align: center;
	font-size: 2.5em;
}
nav.is-stuck figure.logo {
	height: 3em;
}
figure.logo {
	height: 7em;
	transition: height ease 1s
}
figure.logo.mobile {
	height: 100%;
}
#social-links, #social-links a {
	color: #622F8E;
}
#video {
	text-align: center;
	padding: 2em;
}
.green-box > *, .green-box a {
	background-color: #AFD35A;
	color: #622F8E;
}
.green-box h1:first-word {
	font-weight: bold;
}
.purple-box {
	background-color: #866BAF !important;
}
.purple-box > *, .purple-box a {
	background-color: transparent;
	color: #FFF;
}
.purple-box li {
	transition: background-color ease 1s, border-radius ease 1s;
}
.purple-box li:hover {
	background-color: rgba(175,210,90,0.8);
	border-radius: 1em;
}
.green-purple-box {
	color: inherit;
	background: linear-gradient(180deg, #AFD35A 50%, #FFFFFF 50%);
}
.light-purple-box {
	background-color: rgb(120, 98, 150);
	color: #FFFFFF;
}
.white-box {
	background-color: #FFFFFF;
}
.white-box h1, .white-box h2 {
	color: #866BAF;
}
.trapezoid-top {
	overflow: hidden;
}
.trapezoid-top {
	margin-top: -8% !important;
}
.trapezoid-top > * {
	margin-top: 5%;
	padding-top: 3%;
	margin-bottom: -5%;
	padding-bottom: 8%;
	transform: skewY(358deg);
	box-shadow: -0.5px -0.5px 10px #333333;
}
.trapezoid-top > * > * {
	transform: skewY(2deg); 
}
.trapezoid-left {
	position: relative;
	width: 50vw;
	left: 0;
	transition: width ease 1s;
}
.is-stuck .trapezoid-left {
	width: 70vw;
}
.trapezoid-left > * {
	padding-right: 20%;
	margin-left: 8%;
	padding-left: 5%;
	width: 116%;
	transform: skewX(330deg);
	box-shadow: -0.5px 0.5px 10px #333333;
}
.trapezoid-left > * > * {
	transform: skewX(30deg); 
}
.show-on-stuck {
	transition: visibility ease 1s;
	visibility: hidden;
	display: none;
}
.is-stuck .show-on-stuck {
	visibility: visible;
	display: initial;
}
.hide-on-stuck {
	transition: visibility ease 1s;
	visibility: visible;
}
.is-stuck .hide-on-stuck {
	visibility: hidden;
	display: none;
}
.proposta {
	border: transparent;
}